{% extends './base.html' %}
{% load static %}
{% block title %}Nouveau mot de passe - TConsultGuinee{% endblock %}
{% block content %}
    <section class="banner-section position-relative d-flex align-items-center min-vh-100">
        <img class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" src="{% static './assets/images/backgrounds/medoc2.jpg' %}" />

        <div class="container">
            <div class="d-flex flex-column gap-4 pb-8 position-relative z-1">
                <h2 class="text-2xl font-bold text-white mb-4">Définir un nouveau mot de passe</h2>
                <div class="card p-4 bg-white rounded-lg shadow-sm">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-dark text-white fs-6 bg-dark px-3 py-2">Changer le mot de passe</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% comment %} <!-- templates/password_reset_confirm.html -->
{% extends './base.html' %}
{% block title %}Nouveau mot de passe{% endblock %}
{% block content %}
    <h2>Définir un nouveau mot de passe</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Changer le mot de passe</button>
    </form>
{% endblock %} {% endcomment %}