{% load static  %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% comment %} <meta http-equiv = "refresh" content = "0 ; url = './html/index.html'"/> {% endcomment %}
  <title>Studiova</title>
  <link rel="shortcut icon" type="image/png" href="{% static './assets/images/logos/favicon.svg' %}" />
  <link rel="stylesheet" href="{% static './assets/libs/owl.carousel/dist/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static './assets/libs/aos-master/dist/aos.css' %}">
  <link rel="stylesheet" href="{% static  './assets/css/styles.css' %}" />
</head>

<body>
<!-- NOTE: Please go to the './html/index.html' file to edit -->  toi la 
</body>

</html>